<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="./Public/Admin/js/bootstrap/css/bootstrap.min.css">
		<style>
			.form{
				margin-top: 10%;
			}
			label{
				width: 100%;
				text-align: center;
			}
			input{
				margin-bottom: 10px;
			}
		</style>
    </head>
    <body>
        <script src="./Public/Admin/js/libs/jquery-1.12.4.min.js"></script>
        <script src="./Public/Admin/js/bootstrap/js/bootstrap.min.js"></script>

        <div class="form col-md-offset-4 col-md-4">

			<form action="?c=add&a=add" method="POST">

				<div class="form-group">

				    <h3><label for=	"name">店铺信息</label></h3>
				    <input type="text" class="form-control" id="name" name="name" placeholder="请输入店铺名称">
				    <input type="text" class="form-control" id="manager" name="manager" placeholder="负责人">
				</div>

				    <input type="submit" class="col-md-12 btn btn-default btn-success" value="Submit">

			</form>

		</div>

    </body>
</html>
