<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link type="text/css" rel="stylesheet" href="./Public/Admin/js/bootstrap/css/bootstrap.min.css">
		<style>
			input{
				margin-bottom: 30px;
			}
			div{
				margin-top: 10%;
			}
			h2{
				text-align: center;
			}
		</style>
    </head>
    <body>
        <script src="./Public/Admin/js/libs/jquery-1.12.4.min.js"></script>
        <script src="./Public/Admin/js/bootstrap/js/bootstrap.min.js"></script>  
        <script src="./Public/Admin/js/libs/jquery-validate.min.js"></script>


    	<div class="form col-md-offset-4 col-md-4">
	    	<h2>添加菜品信息</h2>

	    	<form action="?c=addFoods&a=add" method="POST">
	    		<input type="text" placeholder="名称" class="form-control" name = "foodname">
	    		<input type="text" placeholder="价格" class="form-control" name = "price">
	    		<input type="hidden" name="pid" value="set">
		    	<input type="submit" value="提交" class="form-control btn btn-success">
	    	</form>

    	<div class="form col-md-offset-4 col-md-4">		
		<script>


/********************************* 后期添加 现实现功能 ************************************/
   //      $('form').validate({
			// sendForm: false, //阻止表单默认提交
   //          onKeyup: true,
   //          eachValidField: function () {
   //              // 每一个合法的表单项都会触发此回调
   //              console.log('合法');

   //              // this 指的是当前合法的表单项
   //              console.log($(this).attr('name'));

   //              $(this).css('border', '1px solid green');
   //          },
   //          eachInvalidField: function () {
   //              // 每一个不合法的表单项都会触发此加调
   //              console.log('不合法');

   //              // this 指的是当前不合法表单项
   //              console.log($(this).attr('name'));

   //              $(this).css('border', '1px solid red');
   //          }
   //      }
		</script>
    </body>
</html>
